<h1>Live Clients</h1>

<div class="list">
  <% @live_clients.each do |live_client| %>
    <div class="live-client">
      <img src="<%= live_client.image %>" alt="" />
      <span class="info">
        <p class="artist"><%= live_client.artist %></p>
        <a href="mailto:<%=live_client.contact%>"><p class="contact">contact</p></a>
      </span>
    </div>
  <% end %>

</div>
