<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'live'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed live', page: 'live'} do %>
  <% end %>
<% end %>
<div class="list">
  <div class="live-client">
    <p class='new-label'>
      New Live Client
    </p>
    <%= render 'form' %>
  </div>
</div>
