<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'home'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'audio engineer', page: 'home'} do %>
  <% end %>
<% end %>
<div class="menu">
  <%= render 'shared/menu' %>
  <div class="menu-item"><span class='info'></span></div>
  <div class="menu-item blurb"><p>Alice Wilder is an audio engineer based out of Seattle and Toronto</p><span class='info'></span></div>
</div>
