// Place all the styles related to the Bio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu-item.blurb {
  background-color: #090909;
  width: 754px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  p {
    position: inherit;
    top: 0;
    left: 0;
    line-height: 20px;
  }
}

.menu-item #alice {
  object-position: center;
}

@media only screen
  and (max-width : 736px) {
    
  }
