// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .intro {
//   padding-top: 40px;
// }
//
// .intro p {
//   text-align: center;
//   color: #ddd;
//   letter-spacing: 1.5px;
// }

.menu {
  text-align: center;
}

.menu-item {
  margin: 0 auto;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.menu-item p {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 3px;
}

.menu-item .gif {
  display: none;
}

.menu-item:hover {
  .gif {
    display: inline;
  }
  .jpg {
    display: none;
  }
}

.bio {
  width: 800px;
  height: 300px;
  border-bottom: 1px solid #ddd;
}

.bio img {
  width: 800px;
  object-fit: cover;
  object-position: 0 -250px;
}

.live, .studio {
  display: inline-block;
  width: 400px;
  height: 300px;
}

.live img, .studio img {
  width: 400px;
}

.studio {
  border-right: 1px solid #eee;
}
