// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  display: table;
  margin: 20px auto;
  max-width: 1010px;
}

.menu-item {
  display: table-row;
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #090909;
  border: 1px solid #333;
}

.menu-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 22px;
}

.menu-item p {

}

.menu-item .gif {
  display: none;
}

.menu-item:hover {
  .gif {
    display: inline;
  }
  .jpg {
    display: none;
  }
}

.menu-item .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  transition: opacity 2.5s;
}

.menu-item.current_page .info {
  opacity: 1;
}

.menu-item p {
  color: #eee;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 40px;
}

.special {
  background-color: #000;
  color: #ddd;
  text-align: center;
  vertical-align: middle;

  p {
    position: absolute;
    top: 90px;
    left: 0;
    line-height: 20px;
  }
}

.menu-item:hover {
  .info {
    opacity: 1;
  }
}
