// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  margin-top: 80px;
  text-align: center;
}

.menu-item {
  vertical-align: middle;
  display: inline-block;
  margin: 0 50px;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 2px 2px 14px #888888;
}

.menu-item p {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 25px;
  letter-spacing: 3px;
}

.menu-item img {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu-item .gif {
  display: none;
}

.menu-item:hover .gif {
  display: inline;
}

.menu-item:hover .jpg {
  display: none;
}
