// Place all the styles related to the LiveClients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  display: table;
  margin: 20px auto;
  max-width: 1010px;
}

.live-client {
  display: table-row;
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #090909;
  border: 1px solid #333;
}

.live-client img {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 13px;
  opacity: 0.7;
}

.live-client img.play {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
}

.live-client .add img {
  top: 90px;
  left: 90px;
  width: 70px;
  opacity: 0.8;
}

.live-client img:hover {
  opacity: 1;
}

.live-client .artist-pic {
  position: static;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 1;
}

.live-client .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #090909;
  opacity: 0;
  transition: opacity 1.5s;
}

.live-client .info .artist {
  margin: 60px 20px 0;
  font-size: 30px;
}

.live-client iframe, .live-client .sc-delete {
  display: none;
}

.live-client iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.live-client iframe.show, .live-client .sc-delete.show {
  display: block;
  opacity: 1;
}

.live-client p.edit-label {
  position: absolute;
  top: 8px;
  left: 105px;
  padding: 0;
}

.live-client p.new-label {
  position: absolute;
  top: 8px;
  left: 55px;
  padding: 0;
}

.live-client:hover {
  .info {
    opacity: 0.7;
  }
}

.live-client .info.back {
  opacity: 1;
}

.live-client p {
}

form {
  text-align: center;
}

form .field {
  border: none;
}

form .field input {
  padding: 0 10px;
  background-color: #333;
  color: #ddd;
  width: 210px;
  border: none;
  font: inherit;
}

form .field.artist input {
  margin: 40px 10px 5px;
  font-size: 30px;
}

form .field.contact input {
  margin: 5px 10px 10px;
  font-size: 12px;
}

form .field.image {
  margin: 5px 0 10px;
}

form .field.soundcloud input {
  height: 25px;
  font-size: 10px;
}

form .field.image input {
  height: 25px;
  font-size: 10px;
}

.live-client form .upload {
  text-align: center;
  width: 150px;
  margin: 5px auto 0;
  font-size: 12px;
  input {
    width: 180px;
    margin-top: 5px;
  }
}

.live-client form .actions input {
  margin: 15px 0;
  background-color: #333;
  border: 1px solid #444;
  color: #ddd;
  font-size: 15px;
  width: 150px;
}

form .actions input:hover {
  background-color: #444;
}
