// Place all the styles related to the StudioClients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  display: table;
  margin: 20px auto;
  max-width: 1010px;
}

.studio-client {
  display: table-row;
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #090909;
  border: 1px solid #333;
}

.studio-client img {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 13px;
  opacity: 0.7;
}

.studio-client img.play {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 30px;
}

.studio-client .add img {
  top: 90px;
  left: 90px;
  width: 70px;
  opacity: 0.8;
}

.studio-client img:hover {
  opacity: 1;
}

.studio-client .artist-pic {
  position: static;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 1;
}

.studio-client .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #090909;
  opacity: 0;
  transition: opacity 1.5s;
}

.studio-client .info .artist {
  padding: 60px 20px 0;
  font-size: 30px;
}

.studio-client .info .album, .studio-client .info .role {
  margin: 10px 20px 0;
  font-size: 15px;
}

.studio-client .info .role {
  font-size: 12px;
}

.studio-client .info .track {
  margin: 10px 10px 0;
  font-size: 11px;
}

.studio-client iframe, .studio-client .sc-delete {
  display: none;
}

.studio-client iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1.5s;
}

.studio-client iframe.show, .studio-client .sc-delete.show {
  display: block;
  opacity: 1;
}

.studio-client:hover {
  .info {
    opacity: 0.7;
  }
}

.studio-client .info.back {
  opacity: 1;
}

.studio-client p {
}

.studio-client p.edit-label {
  position: absolute;
  top: 8px;
  left: 100px;
  padding: 0;
}

.studio-client p.new-label {
  position: absolute;
  top: 8px;
  left: 41px;
  padding: 0;
}

form {
  text-align: center;
}

form .studio-field {
  border: none;
}

form .studio-field input {
  padding: 0 10px;
  background-color: #222;
  color: #ddd;
  width: 210px;
  border: none;
  font: inherit;
  text-transform: uppercase;
}

form .studio-field.artist input {
  font-size: 30px;
  margin: 30px 10px 0;
}

form .studio-field.album input, form .studio-field.role input  {
  margin: 7px 10px 0;
  font-size: 15px;
}

form .studio-field.image, form .studio-field.soundcloud {
  margin: 0 10px;
}

form .studio-field.image label, form .studio-field.soundcloud label {
  font-size: 10px;
}

form .studio-field.image input, form .studio-field.soundcloud input {
  height: 25px;
  font-size: 10px;
}

.studio-client form .actions input {
  margin: 10px 0;
  background-color: #333;
  border: 1px solid #444;
  color: #ddd;
  font-size: 15px;
  width: 150px;
}

form .actions input:hover {
  background-color: #444;
}
