<% if notice %>
  <%= content_tag "div", class:'header-info', data: {text: notice, page: 'studio'} do %>
  <% end %>
<% else %>
  <%= content_tag "div", class:'header-info', data: {text: 'bands mixed in the studio', page: 'studio'} do %>
  <% end %>
<% end %>
<div class="list">
    <div class="studio-client">
      <p>
        New Studio Client
      </p>
      <%= render 'form' %>
    </div>
</div>
